@model IEnumerable<TreeStructure.Models.Category>
@inject TreeStructure.Infrastructure.CategoriesContext _context
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create new under Root</a>
</p>

@await Component.InvokeAsync("CategoriesStructure", new { isFirstCall = true })

